body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    height: 10px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("https://img.freepik.com/foto-gratis/hermosas-estrellas-brillantes-cielo-nocturno_181624-622.jpg");
}
#planetita {
    width: 70px;
    height: auto;
    cursor: pointer;
}
h1 {
    text-align: center;
    color: azure;
}
img {
    width: 100%;
}
h2 {
    text-align:left;
    color: #d9d24c;
}
ul {
    text-align: left;
    width: 50%;
    padding: left 50px;;
    list-style-type: none;
    display: flex;  
    justify-content: space-evenly;  
    text-transform: uppercase;
  
}
a{
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
    color: #fff;
}
ol {
    text-align: left;
    color: bisque;
}

main {
    width: 100%;
}

section{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}

.introduccion { 
    background-color:black;
    padding: 50px;
    text-align: center;
    }
.contenido {
    background-color: darkslateblue;
    padding: 70px;
}
